<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>Coupons</title>
  <link rel="stylesheet" href="./css/nicepage.css" media="screen">
  <link rel="stylesheet" href="./css/About.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/coupon.css') }}">


  <script class="u-script" type="text/javascript" src="./js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="./js/nicepage.js" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

<body>

  {% for coupon in coupons %}
    <div class="coupon">
      <div class="container">
        <h3>{{coupon.title}}</h3>
      </div>
      <img src="hamburger.jpg" alt="Avatar" style="width:100%;">
      <div class="container" style="background-color:white">
        <h2><b>20% OFF YOUR PURCHASE</b></h2>
        <p>Lorem ipsum..</p>
      </div>
      <div class="container">
        <p>Use Promo Code: <span class="promo">BOH232</span></p>
        <p class="expire">Expires: Jan 03, 2021</p>
      </div>
    </div>
  {% endfor %}
  




</body>

</html>